<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SILAB</title>
<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="style/css.css">
</head>
<body>
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">SILAB</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      	<li><a href="/inicio" class="waves-effect waves-light btn"><i class="material-icons left">home</i></a></li>
      	<li><a href="/cadastrarLab" class="waves-effect waves-light btn"><i class="material-icons left">desktop_windows</i></a></li>
      	<li><a href="/reservarLab" class="waves-effect waves-light btn"><i class="material-icons left">desktop_windows</i></a></li>
        <li><a href="/login" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Fazer Login</a></li>
      </ul>
    </div>
  </nav>
  <center>
  <div class="box">
  <p>O SILAB tem função facilitar o acesso, por parte dos discentes, aos laboratórios, para que estes  possam usufruir das máquinas com o objetivo de realizar trabalhos, implementar projetos e estudar de maneira geral</p>
  </div>
  </center>
</body>
</html>