<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
<meta charset="UTF-8">
<title>Início</title>
<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="style/style.css">

</head>
<body>
<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      	<li><a href="#" class="brand-logo">IFSOL</a></li>
        <li style="float:right"><a href="/paginaInicial">INÍCIO</a></li>
        <li style="float:right"><a href="/silab/laboratorios/DetalhesLaboratorio">RESERVAR LABORATÓRIO</a></li>
        <li style="float:right"><a href="/cadastrarLab">CADASTRAR LABORATÓRIO</a></li>
      </ul>
    </div>
  </nav>
  <center>
  <div class="box">
  <p>O SILAB tem função facilitar o acesso, por parte dos discentes, aos laboratórios, para que estes  possam usufruir das máquinas com o objetivo de realizar trabalhos, implementar projetos e estudar de maneira geral</p>
  </div>
  </center>
</body>
</html>