<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cadastro de Laboratórios</title>

</head>
<body>

<h1>Cadastro de Laboratórios</h1>
<br>
<center>
<div>
	<th:block th:include="mensagemValidacao"></th:block>
	<div class="container formLaboratorio">
	<form class="container" method="post">
	Nome do Aluno: <input type="text" name="nomeAluno">
		<div class="row">
		<div class="input-field col s6">
	Laboratório: <input type="text" name="labDisponivel">
		</div>
		<div class="input-field col s3">
	Horário Disponível: <input type="time" name="horario">
		</div>
		<button class="waves-effect waves-light btn" type ="submit">Registrar Chamado</button>

	</form>
	</div>
	</div>
</center>
</body>
</html>